* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", monospace;
}

body {
  background: #FFF;
  color: black;
 overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #262E5B;
  border-radius: 4px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

h1 {
  font-family: "Roboto Serif", monospace;
  font-weight: 300;
}

p {
  font-family: "Poppins", monospace;
  font-weight: 200 !important;
}

.w-350{
  max-width: 350px;
  text-align: center;

}
.flx-grw{
  flex-grow: 1;
}
.align-left{
  text-align: left !important;

}

.font-size{
  line-height: 18px;
  font-size: 12px;
  font-weight: 900;
}

.font-size-icon{
  font-size: 14px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.per-size{
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  
}
.color-black{
  color: #c4c4c4;
  font-weight: 500 !important;
}
.mywrapper:hover{
  background-color: #262e5b;
  cursor: pointer;
}
.mywrapper:hover p{
  color: white !important;
}

.nav-bar{
  width: 100vw;
  min-width: 100vw;
  background-color: #fff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
  padding: 25px 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.align-center{
  text-align: center;
}
.full-width{
  width: 100vw;
}
.boxed{
  width: 1040px;
  margin: 0 auto;
  padding: 10px 0;
}

.btn-width{
  width: 142px;
}

.btn-color{
  background-color: #fff;
}

.btn-des{
  display: flex;
  justify-self: flex-start;
  text-align: start;
  width: 628px;
  color: var(--character-secondary-45, rgba(0, 0, 0, 0.45));
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: -12px;
 
}

.btn-end{
  display: flex !important;
  justify-items: end !important;
}
.section-heading{
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  color: #C4C4C4;
}

.card-heading{
  font-family: 'Poppins';
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #262E5B;
  /* background-color: red; */
}

.card-subheading{
  font-family: 'Poppins';
  font-size: 12px  !important;
  color: #131313  !important;
}

.accent{
  color: #262E5B;
}

.bold{
  font-weight: 700 !important;
}
.medium{
  font-weight: 500 !important;
}
tspan{
  font-size: 12px !important;
}

p{
  color: #131313 !important;
  font-weight: 400  !important;
}

.back-btn{
  border: none;
  display: flex;
  justify-content: space-between;
  min-width: 60px ;
  align-items: center;
  cursor: pointer;
}

