.page-home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .page-home .div {
    background-color: #ffffff;
    height: 3306px;
    position: relative;
    width: 1280px;
  }
  
  .page-home .overlap {
    height: 377px;
    left: 0;
    position: absolute;
    top: 2929px;
    width: 1280px;
  }
  
  .page-home .footer {
    align-items: center;
    background-color: #f5f5f5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #d9d9d9;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    left: 0;
    padding: 20px 120px;
    position: absolute;
    top: 307px;
    width: 1280px;
  }
  
  .page-home .copyrights {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .page-home .frame {
    align-self: stretch;
    position: relative;
    width: 189px;
  }
  
  .page-home .text-wrapper-2 {
    color: #000000;
    font-family: "Source Code Pro-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
  }
  
  .page-home .text-wrapper-3 {
    color: #000000;
    font-family: "Source Code Pro-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 84px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
  }
  
  .page-home .text-wrapper-4 {
    color: #000000;
    font-family: "Source Code Pro-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 169px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
  }
  
  .page-home .section-hero {
    background-color: #00000080;
    /* background-image: url(./image.png); */
    background-position: 50% 50%;
    background-size: cover;
    height: 308px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
  }
  
  .page-home .p {
    color: #ffffff;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 353px;
    letter-spacing: 0;
    line-height: 44px;
    position: absolute;
    text-align: center;
    top: 102px;
    width: 573px;
  }
  
  .page-home .button-instance {
    background-color: #ffffff !important;
    height: 40px !important;
    left: 566px !important;
    position: absolute !important;
    top: 206px !important;
    width: 120px !important;
  }
  
  .page-home .design-component-instance-node {
    color: #000000 !important;
  }
  
  .page-home .content-wrapper {
    background-color: #00000066;
    /* background-image: url(./section-hero.png); */
    background-position: 50% 50%;
    background-size: cover;
    height: 754px;
    left: 0;
    position: absolute;
    top: 80px;
    width: 1280px;
  }
  
  .page-home .content {
    height: 435px;
    left: 115px;
    position: relative;
    top: 160px;
    width: 636px;
  }
  
  .page-home .text-wrapper-5 {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 351px;
    width: 624px;
  }
  
  .page-home .sensing-sentiments {
    color: #ffffff;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    width: 632px;
  }
  
  .page-home .span {
    line-height: 34px;
    text-decoration: underline;
  }
  
  .page-home .text-wrapper-6 {
    font-size: 64px;
    line-height: 72px;
  }
  
  .page-home .section-hero-2 {
    background-color: #c1cfed;
    height: 450px;
    left: 0;
    position: absolute;
    top: 834px;
    width: 1280px;
  }
  
  .page-home .button-2 {
    height: 40px !important;
    left: 120px !important;
    position: absolute !important;
    top: 310px !important;
    width: 120px !important;
  }
  
  .page-home .button-3 {
    color: #ffffff !important;
  }
  
  .page-home .upload-any-video-and {
    color: #131313;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 120px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 199px;
    width: 520px;
  }
  
  .page-home .text-wrapper-7 {
    line-height: 26px;
  }
  
  .page-home .text-wrapper-8 {
    line-height: 25px;
  }
  
  .page-home .text-wrapper-9 {
    color: #131313;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 120px;
    letter-spacing: 0;
    line-height: 44px;
    position: absolute;
    top: 99px;
    width: 447px;
  }
  
  .page-home .img {
    height: 206px;
    left: 818px;
    position: absolute;
    top: 122px;
    width: 342px;
  }
  
  .page-home .section-hero-3 {
    background-color: #8eccdb;
    height: 450px;
    left: 0;
    position: absolute;
    top: 1734px;
    width: 1280px;
  }
  
  .page-home .button-4 {
    background-color: #ffffff !important;
    height: 40px !important;
    left: 120px !important;
    position: absolute !important;
    top: 310px !important;
    width: 120px !important;
  }
  
  .page-home .button-5 {
    color: #262e5b !important;
  }
  
  .page-home .transform-written {
    color: transparent;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 120px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 199px;
    width: 520px;
  }
  
  .page-home .text-wrapper-10 {
    color: #131313;
  }
  
  .page-home .analyze-live-streams {
    color: #ffffff;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 120px;
    letter-spacing: 0;
    line-height: 44px;
    position: absolute;
    top: 99px;
    width: 447px;
  }
  
  .page-home .undraw-video-files {
    height: 206px;
    left: 818px;
    overflow: hidden;
    position: absolute;
    top: 122px;
    width: 342px;
  }
  
  .page-home .overlap-group {
    height: 206px;
    left: 0;
    position: absolute;
    top: 0;
    width: 342px;
  }
  
  .page-home .vector {
    height: 166px;
    left: 104px;
    position: absolute;
    top: 0;
    width: 238px;
  }
  
  .page-home .vector-2 {
    height: 160px;
    left: 107px;
    position: absolute;
    top: 3px;
    width: 232px;
  }
  
  .page-home .cfea-b-a {
    height: 147px;
    left: 116px;
    position: absolute;
    top: 9px;
    width: 215px;
  }
  
  .page-home .vector-3 {
    height: 139px;
    left: 118px;
    position: absolute;
    top: 13px;
    width: 209px;
  }
  
  .page-home .vector-4 {
    height: 46px;
    left: 245px;
    position: absolute;
    top: 59px;
    width: 26px;
  }
  
  .page-home .vector-5 {
    height: 51px;
    left: 175px;
    position: absolute;
    top: 57px;
    width: 72px;
  }
  
  .page-home .vector-6 {
    height: 25px;
    left: 293px;
    position: absolute;
    top: 119px;
    width: 25px;
  }
  
  .page-home .vector-7 {
    height: 12px;
    left: 302px;
    position: absolute;
    top: 125px;
    width: 10px;
  }
  
  .page-home .vector-8 {
    height: 166px;
    left: 52px;
    position: absolute;
    top: 19px;
    width: 238px;
  }
  
  .page-home .vector-9 {
    height: 160px;
    left: 54px;
    position: absolute;
    top: 21px;
    width: 232px;
  }
  
  .page-home .cfea-b-a-2 {
    height: 147px;
    left: 63px;
    position: absolute;
    top: 28px;
    width: 215px;
  }
  
  .page-home .vector-10 {
    height: 139px;
    left: 66px;
    position: absolute;
    top: 31px;
    width: 209px;
  }
  
  .page-home .vector-11 {
    height: 46px;
    left: 192px;
    position: absolute;
    top: 78px;
    width: 26px;
  }
  
  .page-home .vector-12 {
    height: 51px;
    left: 123px;
    position: absolute;
    top: 75px;
    width: 72px;
  }
  
  .page-home .vector-13 {
    height: 25px;
    left: 241px;
    position: absolute;
    top: 138px;
    width: 25px;
  }
  
  .page-home .vector-14 {
    height: 12px;
    left: 249px;
    position: absolute;
    top: 144px;
    width: 10px;
  }
  
  .page-home .vector-15 {
    height: 166px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 238px;
  }
  
  .page-home .vector-16 {
    height: 160px;
    left: 3px;
    position: absolute;
    top: 43px;
    width: 232px;
  }
  
  .page-home .cfea-b-a-3 {
    height: 147px;
    left: 12px;
    position: absolute;
    top: 49px;
    width: 215px;
  }
  
  .page-home .vector-17 {
    height: 139px;
    left: 14px;
    position: absolute;
    top: 53px;
    width: 209px;
  }
  
  .page-home .vector-18 {
    height: 46px;
    left: 141px;
    position: absolute;
    top: 99px;
    width: 26px;
  }
  
  .page-home .vector-19 {
    height: 51px;
    left: 71px;
    position: absolute;
    top: 97px;
    width: 72px;
  }
  
  .page-home .div-wrapper {
    align-items: center;
    background-color: #ff1400;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 21px;
    justify-content: center;
    left: 167px;
    overflow: hidden;
    padding: 5px 15px;
    position: absolute;
    top: 164px;
    width: 51px;
  }
  
  .page-home .text-wrapper-11 {
    color: #ffffff;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -2.5px;
    margin-left: -2.5px;
    margin-right: -2.5px;
    margin-top: -4.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .page-home .vector-20 {
    height: 24px;
    left: 558px;
    position: absolute;
    top: -1789px;
    width: 58px;
  }
  
  .page-home .section-hero-4 {
    background-color: #f5f5f5;
    height: 745px;
    left: 0;
    position: absolute;
    top: 2184px;
    width: 1280px;
  }
  
  .page-home .text-wrapper-12 {
    color: #131313;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 590px;
    letter-spacing: 0;
    line-height: 44px;
    position: absolute;
    text-align: center;
    top: 99px;
    white-space: nowrap;
  }
  
  .page-home .overlap-2 {
    border-radius: 5px;
    height: 151px;
    left: 284px;
    position: absolute;
    top: 194px;
    width: 682px;
  }
  
  .page-home .frame-2 {
    background-color: #ffffff;
    border-radius: 5px;
    height: 151px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 682px;
  }
  
  .page-home .text-wrapper-13 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .page-home .text-wrapper-14 {
    color: #333333;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 69px;
    width: 655px;
  }
  
  .page-home .mdi-chevron-up {
    height: 24px;
    left: 643px;
    position: absolute;
    top: 17px;
    width: 24px;
  }
  
  .page-home .line {
    height: 1px;
    left: 12px;
    object-fit: cover;
    position: absolute;
    top: 57px;
    width: 652px;
  }
  
  .page-home .group-wrapper {
    background-color: #ffffff;
    border-radius: 5px;
    height: 63px;
    left: 284px;
    overflow: hidden;
    position: absolute;
    top: 357px;
    width: 682px;
  }
  
  .page-home .group {
    height: 26px;
    left: 12px;
    position: relative;
    top: 19px;
    width: 652px;
  }
  
  .page-home .text-wrapper-15 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .page-home .mdi-chevron-down {
    height: 24px;
    left: 626px;
    position: absolute;
    top: 1px;
    width: 24px;
  }
  
  .page-home .frame-3 {
    background-color: #ffffff;
    border-radius: 5px;
    height: 63px;
    left: 284px;
    overflow: hidden;
    position: absolute;
    top: 432px;
    width: 682px;
  }
  
  .page-home .frame-4 {
    background-color: #ffffff;
    border-radius: 5px;
    height: 63px;
    left: 284px;
    overflow: hidden;
    position: absolute;
    top: 507px;
    width: 682px;
  }
  
  .page-home .frame-5 {
    background-color: #ffffff;
    border-radius: 5px;
    height: 63px;
    left: 284px;
    overflow: hidden;
    position: absolute;
    top: 582px;
    width: 682px;
  }
  
  .page-home .section-hero-5 {
    height: 450px;
    left: 0;
    position: absolute;
    top: 1284px;
    width: 1280px;
  }
  
  .page-home .text-wrapper-16 {
    color: #131313;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 120px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 199px;
    width: 520px;
  }
  
  .page-home .header {
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 30px 30px #b6b6b60d;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 20px 120px;
    position: absolute;
    top: 0;
    width: 1280px;
  }
  
  .page-home .navbar {
    align-items: center;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
  }
  
  .page-home .text-wrapper-17 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .page-home .text-wrapper-18 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .page-home .button-6 {
    height: 40px !important;
    left: unset !important;
    top: unset !important;
    width: 120px !important;
  }
  